{% extends 'flatpages/default.html' %}

{% load newsapp_filters %}

{% block title %}
Новости
{% endblock title %}

{% block content %}
<h1>Новости</h1>
<h3> Всего новостей: {{ posts|length }} </h3>
<hr>
{% if posts %}
    <table>
        <tr>
            <td>Заголовок</td>
            <td>Дата публикации</td>
            <td>Текст</td>
        </tr>
    {% for post in posts %}
        <tr>
            <td><a href="{% url 'post' pk=post.pk %}">{{ post.title|censor }}</a> </td>
            <td>{{ post.dateCreation|date:'d M Y' }}</td>
            <td>{{ post.text|truncatewords:20|censor }}</td>
            <td>
                {% if post.categoryType == 'NW' %}
                    <a href="{% url 'update_news' pk=post.pk %}">Edit</a>
                    <a href="{% url 'delete_news' pk=post.pk %}">Delete</a>
                {% elif post.categoryType == 'AR' %}
                    <a href="{% url 'update_articles' pk=post.pk %}">Edit</a>
                    <a href="{% url 'delete_articles' pk=post.pk %}">Delete</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}

    </table>
{% else %}
    <h2>Новостей нет!</h2>

{% endif %}

{# Информация о предыдущих страницах #}
{% if page_obj.has_previous %}
   <a href="?page=1">1</a>
   {% if page_obj.previous_page_number != 1 %}
       ...
       <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
   {% endif %}
{% endif %}

{# Информация о текущей странице #}
{{ page_obj.number }}

{# Информация о следующих страницах #}
{% if page_obj.has_next %}
   <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
   {% if paginator.num_pages != page_obj.next_page_number %}
       ...
       <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
   {% endif %}
{% endif %}

{% endblock content %}